@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
	box-sizing: border-box;
	margin:0;
}

body{
	margin:0;
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

:before,:after{
  box-sizing: border-box;
}

.container{
	max-width: 1140px;
	margin:auto;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 8px;
	z-index: 100;
}
  
.skip-link:focus {
	top: 0;
}

 


