<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FindRest</title>
    <script src="https://use.fontawesome.com/94bc7cc1f2.js"></script>
</head>
<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <app-bar></app-bar>
        <custom-hero></custom-hero>
    </header>

    <main id="main-content">
        <main-content></main-content>
    </main>
    <custom-footer></custom-footer>

</body>
</html>
